$semi-ts-dark-blue: #0024b3;
$semi-ts-light-blue: #4DF2FF;

// arco color palette

// red
$red-1: #FFECE8;
$red-2: #FDCDC5;
$red-3: #FBACA3;
$red-4: #F98981;
$red-5: #F76560;
$red-6: #F53F3F;
$red-7: #CB272D;
$red-8: #A1151E;
$red-9: #770813;
$red-10: #4D000A;

// // green
$green-1: #E8FFEA;
$green-2: #AFF0B5;
$green-3: #7BE188;
$green-4: #4CD263;
$green-5: #23C343;
$green-6: #00B42A;
$green-7: #009A29;
$green-8: #008026;
$green-9: #006622;
$green-10: #004D1C;

// // grey
// $grey-1: #f7f8fa;
// $grey-2: #f2f3f5;
// $grey-3: #e5e6eb;
// $grey-4: #c9cdd4;
// $grey-5: #a9aeb8;
// $grey-6: #86909c;
// $grey-7: #6b7785;
// $grey-8: #4e5969;
// $grey-9: #272e3b;
// $grey-10: #1d2129;
