.zoneData {
  height: 76.66vh;
  padding: 0 0.48rem;
  box-sizing: border-box;
  background-color: var(--bg-light);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  border-radius: 0.58rem;
  position: relative;
  @include modeTransition();

  .notLoadedFOUP {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    z-index: 9999;
    left: 0; top: 0;
    // display: flex;
    justify-content: center;
    align-items: center;
    
    p {
      color: #fff;
      font: {
        size: $pxToRem24;
        weight: 700;
      }
    }
  }

  .zoneDataHeader {
    width: 100%;
    height: 10.21%;
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    // justify-content: center;
    // gap: 4%;
    align-items: center;
    span {
      display: block;
      color: var(--text-primary);
      font: {
        size: $pxToRem16;
        weight: 700;
      }

      &:first-of-type {
        color: var(--text-disabled);
        font: {
          size: $pxToRem12;
          weight: 400;
        }
      }
    }
  }

  .zoneDataBody {
    width: 100%;
    height: 79.58%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.36%;

    .zoneDataContent {
      width: 100%;
      height: 18.85%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      .dataTitle {
        width: 100%;
        height: 24.63%;
        color: var(--text-primary);
        font: {
          size: $pxToRem14;
          weight: 700;
        }
      }

      .dataValue {
        width: 100%;
        height: 72.46%;
        background-color: var(--dark-elevation-2);
        background-color: var(--bg-color);
        border-radius: 0.97rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--text-primary);
        position: relative;
        box-shadow: inset 1px 1.25px 6px rgba(0, 0, 0, 0.04);
        @include modeTransition();

        font: {
          size: $pxToRem24;
          weight: 700;
        }

        .dataUnit {
          position: absolute;
          right: 3%;
          top: 10%;
          color: var(--text-disabled);
          font: {
            size: $pxToRem10;
            weight: 400;
          }
        }
      }

      &:first-of-type {
        height: 33.87%;
      
        .dataTitle {
          height: 13.7%;
        }

        .dataArea {
          width: 100%;
          height: 84.67%;
          display: flex;
          flex-direction: column;
          gap: 4.03%;
          
          .dataValue {
            height: 47.61%;

            .subTitle, .dataUnit {
              position: absolute;
              color: var(--text-disabled);
              top: 10%;
            }

            .subTitle {
              left: 3%;
              // color: var(--text-secondary);
              font: {
                size: $pxToRem10;
                weight: 700;
              }
            }
            
            .dataUnit {
              right: 3%;
            }
          }
        }
      }
    }
  }

  .zoneDataFooter {
    width: 100%;
    height: 10.21%;
    display: flex;
    justify-content: center;
    align-items: center;

    .baseTimeTitle, .baseTimeValue {
      color: var(--text-disabled);
      font: {
        size: $pxToRem12;
        weight: 400;
      }
    }
  }
}