.modal-overlay {
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: var(--modal-bg-color);
  padding: $pxToRem28;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: $pxToRem18;
  font-size: $pxToRem14;
  
  p {
    color: var(--text-primary);
  }

  .modalConfirmButton {
    font-size: $pxToRem12;
    background-color: $semi-ts-dark-blue;
    color: white;
  }
}