.footer {
  width: 100%;
  height: $footer-height;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.95rem !important;
  box-sizing: border-box;
  border-top: 1px solid var(--border-color) !important;
  position: relative;
  background-color: var(--bg-color);
  font: {
    size: $pxToRem12 !important;
  }
  @include modeTransition();

  .footerText {
    color: var(--text-primary) !important;
  }

  .footerCenter {

    .copyright {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .footerRight {
    display: flex;
    align-items: center;
    gap: $pxToRem14;
  }
}

.footerIcon {
  width: $pxToRem14;
  height: $pxToRem14;
  color: var(--text-primary) !important;
}